<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/023_Average_Salary_Excluding_Min_and_Max_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are given an array of unique integers salary where salary[i] is the salary of the ith employee.

Return the average salary of employees excluding the minimum and maximum salary. Answers within 10-5 of the actual answer will be accepted.



Example 1:

Input: salary = [4000,3000,1000,2000]
Output: 2500.00000
Explanation: Minimum salary and maximum salary are 1000 and 4000 respectively.
Average salary excluding minimum and maximum salary is (2000+3000) / 2 = 2500
Example 2:

Input: salary = [1000,2000,3000]
Output: 2000.00000
Explanation: Minimum salary and maximum salary are 1000 and 3000 respectively.
Average salary excluding minimum and maximum salary is (2000) / 1 = 2000


Constraints:

3 <= salary.length <= 100
1000 <= salary[i] <= 106
All the integers of salary are unique.

In [ ]:
class Solution:
    def average(self, salary):
        n = len(salary)
        max_salary = salary[0]
        min_salary = salary[0]
        sum = salary[0]
        for i in range(1, n):
            if salary[i] > max_salary:
                max_salary = salary[i]
            if salary[i] < min_salary:
                min_salary = salary[i]
            sum += salary[i]

        return (sum - max_salary - min_salary) / (len(salary) - 2)

In [ ]:
class Solution:
    def average(self, salary):
        return (sum(salary) - max(salary) - min(salary)) / (len(salary) - 2)

In [ ]:
prov = Solution()

# Example 1:
salary = [4000,3000,1000,2000]
# Output: 2500
print(prov.average(salary))

2500.0