<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/328_Employees_Whose_Manager_Left_the_Company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Table: Employees

+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| employee_id | int      |
| name        | varchar  |
| manager_id  | int      |
| salary      | int      |
+-------------+----------+
In SQL, employee_id is the primary key for this table.
This table contains information about the employees, their salary, and the ID of their manager. Some employees do not have a manager (manager_id is null).


Find the IDs of the employees whose salary is strictly less than $30000 and whose manager left the company. When a manager leaves the company, their information is deleted from the Employees table, but the reports still have their manager_id set to the manager that left.

Return the result table ordered by employee_id.

The result format is in the following example.



Example 1:

Input:  
Employees table:
+-------------+-----------+------------+--------+
| employee_id | name      | manager_id | salary |
+-------------+-----------+------------+--------+
| 3           | Mila      | 9          | 60301  |
| 12          | Antonella | null       | 31000  |
| 13          | Emery     | null       | 67084  |
| 1           | Kalel     | 11         | 21241  |
| 9           | Mikaela   | null       | 50937  |
| 11          | Joziah    | 6          | 28485  |
+-------------+-----------+------------+--------+
Output:
+-------------+
| employee_id |
+-------------+
| 11          |
+-------------+

Explanation:
The employees with a salary less than $30000 are 1 (Kalel) and 11 (Joziah).
Kalel's manager is employee 11, who is still in the company (Joziah).
Joziah's manager is employee 6, who left the company because there is no row for employee 6 as it was deleted.

In [13]:
import pandas as pd

def find_employees(employees: pd.DataFrame) -> pd.DataFrame:
    # Фильтрация сотрудников: manager_id не должен быть среди employee_id и зарплата меньше 30000
    result = employees[
        (employees['manager_id'].notna()) &  # Исключаем пустые значения manager_id
        (~employees['manager_id'].isin(employees['employee_id'])) &  # Исключаем тех, у кого manager_id есть среди employee_id
        (employees['salary'] < 30000)  # Зарплата меньше 30000
    ].sort_values('employee_id')  # Сортировка по employee_id

    return result[['employee_id']]

In [8]:
import pandas as pd

In [15]:
def find_employees(employees: pd.DataFrame) -> pd.DataFrame:
    result = employees[
        (employees['manager_id'].notna()) &
        (~employees['manager_id'].isin(employees['employee_id'])) &
        (employees['salary'] < 30000)
    ].sort_values('employee_id')

    return result[['employee_id']]

In [14]:
# Пример данных
data = {
    'employee_id': [1, 2, 3, 4, 5],
    'manager_id': [2, 3, 4, None, 2],
    'salary': [25000, 40000, 20000, 18000, 35000]
}

# Создание DataFrame
df = pd.DataFrame(data)

# Вызов функции
result_df = find_employees(df)

# Вывод результата
print(result_df)

Empty DataFrame
Columns: [employee_id]
Index: []

In [5]:
import pandas as pd

def find_employees(employees: pd.DataFrame) -> pd.DataFrame:
    # Шаг 1: Убираем строки, где manager_id пустой (NaN)
    # .notna() проверяет, что значения в колонке не равны NaN (отсутствующим значениям).
    # Мы хотим исключить тех сотрудников, у которых нет менеджера (manager_id пустой).
    not_null_managers = employees[employees['manager_id'].notna()]

    # Шаг 2: Проверяем, что manager_id не входит в список employee_id
    # .isin() проверяет, есть ли значения из одного столбца в списке значений другого столбца.
    # Здесь мы проверяем, не является ли manager_id (менеджер) сотрудником (employee_id).
    # Символ ~ в Pandas используется для отрицания, т.е. выбираем те строки, где manager_id НЕ находится среди employee_id.
    no_matching_managers = not_null_managers[~not_null_managers['manager_id'].isin(employees['employee_id'])]

    # Шаг 3: Оставляем сотрудников, чья зарплата меньше 30000
    # Логическое условие (employees['salary'] < 30000) фильтрует строки, где значение зарплаты меньше 30000.
    # Это простое условие, которое проверяет каждую строку и оставляет только те, где зарплата меньше указанной суммы.
    low_salary_employees = no_matching_managers[no_matching_managers['salary'] < 30000]

    # Шаг 4: Сортируем сотрудников по возрастанию employee_id
    # .sort_values('employee_id') сортирует строки DataFrame по значению столбца 'employee_id'.
    # По умолчанию сортировка происходит в порядке возрастания (от меньшего к большему).
    sorted_employees = low_salary_employees.sort_values('employee_id')

    # Шаг 5: Возвращаем только столбец employee_id
    # Возвращаем результат, содержащий только один столбец — employee_id.
    # [['employee_id']] выбирает только этот столбец для вывода результата.
    return sorted_employees[['employee_id']]

In [16]:
# Пример данных в формате словаря
data = {
    'employee_id': [3, 12, 13, 1, 9, 11],
    'name': ['Mila', 'Antonella', 'Emery', 'Kalel', 'Mikaela', 'Joziah'],
    'manager_id': [9, None, None, 11, None, 6],
    'salary': [60301, 31000, 67084, 21241, 50937, 28485]
}

# Создание DataFrame
df = pd.DataFrame(data)

# Вызов функции для поиска сотрудников, соответствующих условиям
result_df = find_employees(df)

# Вывод результата
print(result_df)

   employee_id
5           11