<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/608_Modify_Columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
def modifySalaryColumn(employees):
    employees['salary'] = employees['salary'] * 2
    return employees

In [ ]:
# Пример DataFrame
data = {
    'name': ['Jack', 'Piper', 'Mia', 'Ulysses'],
    'salary': [19666, 74754, 62509, 54866]
}

employees = pd.DataFrame(data)
print(employees)
print()

# Вызываем функцию для изменения зарплат
result = modifySalaryColumn(employees)
print(result)

      name  salary
0     Jack   19666
1    Piper   74754
2      Mia   62509
3  Ulysses   54866

      name  salary
0     Jack   39332
1    Piper  149508
2      Mia  125018
3  Ulysses  109732