<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/610_Change_Data_Type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
def changeDatatype(students):
    students['grade'] = students['grade'].astype('int')
    return students

In [ ]:
# Пример DataFrame
data = {
    'student_id': [1, 2],
    'name': ['Ava', 'Kate'],
    'age': [6, 15],
    'grade': [73.0, 87.0]
}

students = pd.DataFrame(data)
print(students)
print()

# Вызываем функцию для изменения типа данных столбца 'grade'
result = changeDatatype(students)
print(result)

   student_id  name  age  grade
0           1   Ava    6   73.0
1           2  Kate   15   87.0

   student_id  name  age  grade
0           1   Ava    6     73
1           2  Kate   15     87