<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/613_Reshape_Data_Pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
def pivotTable(weather):
    weather = weather.pivot(index='month', columns='city', values='temperature')
    return weather

In [ ]:
# Пример DataFrame weather
data = {
    'city': ['Jacksonville', 'Jacksonville', 'Jacksonville', 'Jacksonville', 'Jacksonville',
             'ElPaso', 'ElPaso', 'ElPaso', 'ElPaso', 'ElPaso'],
    'month': ['January', 'February', 'March', 'April', 'May',
              'January', 'February', 'March', 'April', 'May'],
    'temperature': [13, 23, 38, 5, 34, 20, 6, 26, 2, 43]
}

weather = pd.DataFrame(data)
print(weather)
print()

# Вызываем функцию для создания сводной таблицы
result = pivotTable(weather)
print(result)

           city     month  temperature
0  Jacksonville   January           13
1  Jacksonville  February           23
2  Jacksonville     March           38
3  Jacksonville     April            5
4  Jacksonville       May           34
5        ElPaso   January           20
6        ElPaso  February            6
7        ElPaso     March           26
8        ElPaso     April            2
9        ElPaso       May           43

city      ElPaso  Jacksonville
month
April          2             5
February       6            23
January       20            13
March         26            38
May           43            34