<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/615_Method_Chaining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
def findHeavyAnimals(animals):
    animals = animals.query('weight > 100').sort_values(by='weight', ascending=False)[['name']]
    return animals

In [ ]:
# Пример DataFrame animals
data = {
    'name': ['Tatiana', 'Khaled', 'Alex', 'Jonathan', 'Stefan', 'Tommy'],
    'species': ['Snake', 'Giraffe', 'Leopard', 'Monkey', 'Bear', 'Panda'],
    'age': [98, 50, 6, 45, 100, 26],
    'weight': [464, 41, 328, 463, 50, 349]
}

animals = pd.DataFrame(data)
print(animals)
print()

# Вызываем функцию для поиска тяжёлых животных
result = findHeavyAnimals(animals)
print(result)

       name  species  age  weight
0   Tatiana    Snake   98     464
1    Khaled  Giraffe   50      41
2      Alex  Leopard    6     328
3  Jonathan   Monkey   45     463
4    Stefan     Bear  100      50
5     Tommy    Panda   26     349

       name
0   Tatiana
3  Jonathan
5     Tommy
2      Alex