<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/616_001_100_Questions_for_DS_Interview_Pandas_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **#1**

In [ ]:
import pandas as pd

In [ ]:
data = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(data)
print()

series = pd.Series(data)
print(series)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [ ]:
print(series.head(3))

0    10
1    20
2    30
dtype: int64

In [ ]:
print(series.tail(3))

6    70
7    80
8    90
dtype: int64

# **#2**

In [ ]:
data = {'a': 10, 'b': 20, 'c':30}
print(data)
print()

series2 = pd.Series(data)
print(series2)

{'a': 10, 'b': 20, 'c': 30}

a    10
b    20
c    30
dtype: int64

In [ ]:
print()
print(series2.tail(4))

a    10
b    20
c    30
dtype: int64

In [ ]:
series2.head()

a    10
b    20
c    30
dtype: int64

In [ ]:
print(series2.describe())
print()

print(series2.value_counts())
print()

print(series2.sort_values(ascending=False))
print()

print(series.mean())
print()

print(f'sum={series.sum()}, max={series.max()}, min={series.min()}, std={series.std()}')

count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
dtype: float64

10    1
20    1
30    1
Name: count, dtype: int64

c    30
b    20
a    10
dtype: int64

50.0

sum=450, max=90, min=10, std=27.386127875258307