<a href="https://colab.research.google.com/github/dkraynev/Tasks/blob/main/620_30_Days_of_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01.Big Countries

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    world = world.query('area >= 3000000 or population >= 25000000')[['name', 'population', 'area']]
    return world

# 02.Recyclable and Low Fat Products

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    products =  products.query("low_fats == 'Y' and recyclable == 'Y'")[['product_id']]
    return products

# 03.Customers Who Never Order

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers = pd.merge(customers, orders, left_on='id', right_on='customerId', how='left')
    customers = customers[customers['customerId'].isna()]
    customers = customers[['name']].rename(columns={'name':'Customers'})

    return customers

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers = customers[
        ~customers['id'].isin(orders['customerId'])
    ]
    customers.rename(columns={'name': 'Customers'}, inplace=True)
    return customers[['Customers']]

# 31.The Number of Rich Customers

In [ ]:
import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    store = store.query('amount > 500')
    store = store.drop_duplicates(subset='customer_id')
    rows = store.shape[0]
    df = pd.DataFrame({'rich_count': [rows]})

    return df

# 04.Article Views I

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    views = views.query('author_id == viewer_id')
    views = views.drop_duplicates(subset='author_id').sort_values(by='author_id',ascending=True)[['author_id']]
    views = views.rename(columns={'author_id':'id'})

    return views

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    views = views[views['author_id'] ==  views['viewer_id']].sort_values(by='author_id', ascending=True)
    views = views.rename(columns={'author_id': 'id'})
    views = views.drop_duplicates(subset='id')
    return views[['id']]

# 05.Invalid Tweets

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets = tweets[tweets['content'].apply(len) > 15][['tweet_id']]

    return tweets

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets['content'].str.len() > 15][['tweet_id']]

# 06.Calculate Special Bonus

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees.apply(lambda x: x['salary'] if x['employee_id'] % 2 != 0 and not x['name'].startswith('M') else 0, axis=1)
    employees = employees[['employee_id', 'bonus']].sort_values(by='employee_id')

    return employees

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    condition = (employees['employee_id'] % 2 == 1) & ~employees['name'].str.startswith('M')
    employees[['bonus']] = employees[['salary']].where(condition, 0)
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

# 07.Fix Names in a Table

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].apply(lambda x: x.capitalize())
    users = users.sort_values(by='user_id', ascending=True)
    return users

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str[0].str.upper() + users['name'].str[1:].str.lower()
    users = users.sort_values(by='user_id')
    return users

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str[0].str.upper() + users['name'].str[1:].str.lower()
    return users.sort_values(by='user_id')

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()
    return users.sort_values(by='user_id')

# 08.Find Users With Valid E-Mails

In [ ]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    users = users[users['mail'].str.match(r'^[a-zA-Z][a-zA-Z0-9._-]*@leetcode\.com$')]
    return users

In [ ]:
data = {
    'user_id': [1, 2, 3, 4, 5, 6, 7],
    'name': ['Winston', 'Jonathan', 'Annabelle', 'Sally', 'Marwan', 'David', 'Shapiro'],
    'mail': [
        'winston@leetcode.com',        # Валидный
        'jonathanisgreat',             # Нет '@', невалидный
        'bella-@leetcode.com',         # Валидный
        'sally.come@leetcode.com',     # Валидный
        'quarz#2020@leetcode.com',     # Символ '#', невалидный
        'david69@gmail.com',           # Неверный домен, невалидный
        '.shapo@leetcode.com'          # Начинается с '.', невалидный
    ]
}

users_df = pd.DataFrame(data)
valid_users_df = valid_emails(users_df)
print(valid_users_df)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

# 09. Patients With a Condition

In [ ]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    patients = patients[patients['conditions'].str.contains(r'(^|\s)DIAB1')]
    return patients

# 10. Delete Duplicate Emails

In [ ]:
import pandas as pd

def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by='id', inplace=True)
    person.drop_duplicates(subset='email', keep='first', inplace=True)

    return

# 11. Rearrange Products Table

In [ ]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    products = pd.melt(products, id_vars='product_id', var_name='store', value_name='price')
    products = products.dropna(subset='price')

    return products

# 12. Immediate Food Delivery I

In [ ]:
import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    immediate = len(delivery[delivery['order_date'] == delivery['customer_pref_delivery_date']])
    all_deliveries = delivery.shape[0]
    df = pd.DataFrame({'immediate_percentage':[round(100 * immediate / all_deliveries, 2)]})
    return df[['immediate_percentage']]

# 13-1. Ads Performance

In [ ]:
import pandas as pd

def ads_performance(ads: pd.DataFrame) -> pd.DataFrame:
    # Группируем данные по ad_id и считаем количество Clicked и Clicked/Viewed действий
    ads = ads.groupby('ad_id').apply(
        lambda x:pd.Series({
            'clicked': (x['action'] == 'Clicked').sum(),
            'clicked_viewed': ((x['action'] == 'Clicked') | (x['action'] == 'Viewed')).sum()
        })
    ).reset_index()

    # Рассчитываем CTR и обрабатываем случай деления на 0

    ads['ctr'] = ads.apply(
        lambda x: round(100 * x['clicked'] / x['clicked_viewed'], 2) if x['clicked_viewed'] >0 else 0, axis=1)

    ads = ads[['ad_id', 'ctr']].sort_values(by=['ctr', 'ad_id'], ascending=[False, True])

    return ads

# 14. Find Total Time Spent by Each Employee

In [ ]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees = employees.groupby(['event_day', 'emp_id']).agg()

# 15. Game Play Analysis I

In [ ]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    df = activity.groupby('player_id', as_index=False)[['event_date']].min()
    df.rename(columns={'event_date': 'first_login'}, inplace=True)
    return df

# 16. Number of Unique Subjects Taught by Each Teacher

In [ ]:
import pandas as pd

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    result = teacher.groupby('teacher_id').agg(
        cnt=('subject_id', 'nunique')
    ).reset_index()
    return result