# 01.Big Countries

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    world = world.query('area >= 3000000 or population >= 25000000')[['name', 'population', 'area']]
    return world

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world.query('area >= 3000000 | population >= 25000000')[['name', 'population', 'area']]

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world[(world['area'] >= 3_000_000) | (world['population'] >= 25_000_000)][['name', 'population', 'area']]

# 02.Recyclable and Low Fat Products

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    products =  products.query("low_fats == 'Y' and recyclable == 'Y'")[['product_id']]
    return products

# 03.Customers Who Never Order

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers = pd.merge(customers, orders, left_on='id', right_on='customerId', how='left')
    customers = customers[customers['customerId'].isna()]
    customers = customers[['name']].rename(columns={'name':'Customers'})

    return customers

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers = customers[
        ~customers['id'].isin(orders['customerId'])
    ]
    customers.rename(columns={'name': 'Customers'}, inplace=True)
    return customers[['Customers']]

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers = customers[~customers['id'].isin(orders['customerId'])][['name']]
    return customers.rename(columns={'name': 'Customers'})

# 04.Article Views I

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    views = views.query('author_id == viewer_id')
    views = views.drop_duplicates(subset='author_id').sort_values(by='author_id',ascending=True)[['author_id']]
    views = views.rename(columns={'author_id':'id'})

    return views

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    views = views[views['author_id'] ==  views['viewer_id']].sort_values(by='author_id', ascending=True)
    views = views.rename(columns={'author_id': 'id'})
    views = views.drop_duplicates(subset='id')
    return views[['id']]

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    result = views[views['author_id'] == views['viewer_id']].drop_duplicates(subset='author_id')
    result = result[['author_id']].rename(columns={'author_id': 'id'}).sort_values(by='id')
    return result

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    result = views[views['author_id'] == views['viewer_id']][['author_id']]
    result = result.rename(columns={'author_id': 'id'}).drop_duplicates(subset='id')
    return result.sort_values(by='id')

# 05.Invalid Tweets

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets = tweets[tweets['content'].apply(len) > 15][['tweet_id']]

    return tweets

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets['content'].str.len() > 15][['tweet_id']]

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets['content'].str.len() > 15][['tweet_id']]

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets['content'].str.len() > 15][['tweet_id']]

# 06.Calculate Special Bonus

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus'] = employees.apply(lambda x: x['salary'] if x['employee_id'] % 2 != 0 and not x['name'].startswith('M') else 0, axis=1)
    employees = employees[['employee_id', 'bonus']].sort_values(by='employee_id')

    return employees

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    condition = (employees['employee_id'] % 2 == 1) & ~employees['name'].str.startswith('M')
    employees[['bonus']] = employees[['salary']].where(condition, 0)
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    condition = (employees['employee_id'] % 2 == 1) & (~employees['name'].str.startswith('M'))
    employees[['bonus']] = employees[['salary']].where(condition, 0)

    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    # Condition to identify eligible employees for a special bonus:
    # 1. 'employee_id' is odd -> using modulo operator `% 2 == 1`.
    # 2. Employee's 'name' does NOT start with 'M' -> using `~employees['name'].str.startswith('M')`.
    condition = (employees['employee_id'] % 2 == 1) & ~employees['name'].str.startswith('M')

    # Apply the condition to calculate the 'bonus':
    # - If the condition is True (eligible employee), use their 'salary' as the bonus.
    # - Otherwise, set the bonus to 0.
    # We use the `.where()` method to replace values selectively based on the condition.
    employees[['bonus']] = employees[['salary']].where(condition, 0)

    # Select only 'employee_id' and 'bonus' columns for the final output
    # Sort the resulting DataFrame by 'employee_id' in ascending order.
    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

# 07. Fix Names in a Table

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].apply(lambda x: x.capitalize())
    users = users.sort_values(by='user_id', ascending=True)
    return users

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str[0].str.upper() + users['name'].str[1:].str.lower()
    users = users.sort_values(by='user_id')
    return users

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str[0].str.upper() + users['name'].str[1:].str.lower()
    return users.sort_values(by='user_id')

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()
    return users.sort_values(by='user_id')

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()
    return users.sort_values(by='user_id')

# 08. Find Users With Valid E-Mails

In [ ]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    users = users[users['mail'].str.match(r'^[a-zA-Z][a-zA-Z0-9._-]*@leetcode\.com$')]
    return users

In [ ]:
data = {
    'user_id': [1, 2, 3, 4, 5, 6, 7],
    'name': ['Winston', 'Jonathan', 'Annabelle', 'Sally', 'Marwan', 'David', 'Shapiro'],
    'mail': [
        'winston@leetcode.com',        # Валидный
        'jonathanisgreat',             # Нет '@', невалидный
        'bella-@leetcode.com',         # Валидный
        'sally.come@leetcode.com',     # Валидный
        'quarz#2020@leetcode.com',     # Символ '#', невалидный
        'david69@gmail.com',           # Неверный домен, невалидный
        '.shapo@leetcode.com'          # Начинается с '.', невалидный
    ]
}

users_df = pd.DataFrame(data)
valid_users_df = valid_emails(users_df)
print(valid_users_df)

   user_id       name                     mail
0        1    Winston     winston@leetcode.com
2        3  Annabelle      bella-@leetcode.com
3        4      Sally  sally.come@leetcode.com

In [ ]:
import pandas as pd

def valid_emails(users: pd.DataFrame) -> pd.DataFrame:
    users = users[users['mail'].str.contains(r'^[a-zA-Z][a-zA-Z0-9._-]*@leetcode\.com$')]
    return users

# 09. Patients With a Condition

In [ ]:
import pandas as pd

def find_patients(patients: pd.DataFrame) -> pd.DataFrame:
    patients = patients[patients['conditions'].str.contains(r'(^|\s)DIAB1')]
    return patients

# 10. Count Occurrences in Text

In [ ]:
import pandas as pd

def count_occurrences(files: pd.DataFrame) -> pd.DataFrame:
    bull_count = files["content"].str.contains(" bull ", case=False).sum()
    bear_count = files["content"].str.contains(" bear ", case=False).sum()

    data = {"word": ["bull", "bear"], "count": [bull_count, bear_count]}

    result_df = pd.DataFrame(data)

    return result_df

In [ ]:
import pandas as pd

def count_occurrences(files: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame(
        {'word': ['bull', 'bear'],
        'count':[
            files['content'].str.contains(' bull ').sum(),
            files['content'].str.contains(' bear ').sum()
        ]
        }
    )

# 11. Nth Highest Salary

In [ ]:
import pandas as pd

def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:

    answer = employee.drop_duplicates(subset='salary')
    answer = answer.sort_values(by='salary', ascending=False).reset_index()
    if N > len(answer) or N < 1:
        return pd.DataFrame({f'getNthHighestSalary({N})': [None]})
    answer = answer.rename(columns={'salary':f'getNthHighestSalary({N})'})
    return answer.loc[[N - 1], [f'getNthHighestSalary({N})']]

# 12. Second Highest Salary

In [ ]:
import pandas as pd

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    salary = employee.drop_duplicates(subset='salary')
    salary = salary.sort_values(by='salary', ascending=False).reset_index()
    if len(salary) < 2:
        return pd.DataFrame({'SecondHighestSalary': [None]})
    salary = salary.rename(columns={'salary': 'SecondHighestSalary'})
    return salary.loc[[1], ['SecondHighestSalary']]

# 13. Department Highest Salary

In [ ]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    # 1. Находим максимальные зарплаты в каждом департаменте
    max_salaries = (
        employee.groupby("departmentId")["salary"]
        .transform("max")  # Добавляем столбец с максимальной зарплатой для каждого департамента
    )

    # 2. Фильтруем сотрудников, которые получают максимальную зарплату
    top_earners = employee[employee["salary"] == max_salaries]

    # 3. Присоединяем названия департаментов
    result = pd.merge(
        top_earners,
        department,
        left_on="departmentId",
        right_on="id",
        how="inner"
    )

    # 4. Формируем итоговую таблицу с нужными столбцами
    result = result[["name_y", "name_x", "salary"]]
    result.columns = ["Department", "Employee", "Salary"]

    return result

In [ ]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    # 1. Находим максимальную зарплату в каждом департаменте
    max_salary_per_department = (
        employee.groupby("departmentId")["salary"]
        .max()
        .reset_index()  # Возвращаем как DataFrame для дальнейшего join
        .rename(columns={"salary": "max_salary"})
    )

    # 2. Присоединяем данные о департаментах и фильтруем сотрудников с максимальной зарплатой
    result = (
        employee
        .merge(max_salary_per_department, on="departmentId", how="inner")  # Сопоставляем максимальную зарплату
        .merge(department, left_on="departmentId", right_on="id", how="inner")  # Присоединяем названия департаментов
        .query("salary == max_salary")  # Оставляем только тех, чья зарплата равна максимальной
    )

    # 3. Формируем итоговую таблицу с нужными столбцами
    result = result[["name_y", "name_x", "salary"]]
    result.columns = ["Department", "Employee", "Salary"]

    return result

In [ ]:
import pandas as pd

def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    max_salary = employee.groupby('departmentId')['salary'].transform('max')
    top_salaries = employee[employee['salary'] == max_salary]
    result = pd.merge(
        top_salaries,
        department,
        left_on = 'departmentId',
        right_on = 'id',
        how = 'inner'
    )
    result = result[['name_y', 'name_x', 'salary']]
    result.columns = ['Department', 'Employee', 'Salary']

    return result

# 14. Rank Scores

In [ ]:
import pandas as pd

def order_scores(scores: pd.DataFrame) -> pd.DataFrame:
    scores['rank'] = scores['score'].rank(method='dense', ascending=False).astype('int')
    scores = scores.sort_values(by='rank').reset_index()
    return scores[['score', 'rank']]

# 15. Delete Duplicate Emails

In [ ]:
import pandas as pd

def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by='id', inplace=True)
    person.drop_duplicates(subset='email', keep='first', inplace=True)

    return

In [ ]:
import pandas as pd

def delete_duplicate_emails(person: pd.DataFrame) -> None:
    person.sort_values(by='id', inplace=True)
    person.drop_duplicates(subset='email', inplace=True)
    return

# 16. Rearrange Products Table

In [ ]:
import pandas as pd

def rearrange_products_table(products: pd.DataFrame) -> pd.DataFrame:
    products = pd.melt(products, id_vars='product_id', var_name='store', value_name='price')
    products = products.dropna(subset='price')

    return products

# 17. The Number of Rich Customers

In [ ]:
import pandas as pd

def count_rich_customers(store: pd.DataFrame) -> pd.DataFrame:
    store = store.query('amount > 500')
    store = store.drop_duplicates(subset='customer_id')
    rows = store.shape[0]
    df = pd.DataFrame({'rich_count': [rows]})

    return df

# 18. Immediate Food Delivery I

In [ ]:
import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    immediate = len(delivery[delivery['order_date'] == delivery['customer_pref_delivery_date']])
    all_deliveries = delivery.shape[0]
    df = pd.DataFrame({'immediate_percentage':[round(100 * immediate / all_deliveries, 2)]})
    return df[['immediate_percentage']]

# 19. Count Salary Categories

In [ ]:
import pandas as pd

def count_salary_categories(accounts: pd.DataFrame) -> pd.DataFrame:
    low_salary = accounts[accounts['income'] < 20000].shape[0]
    avarage_salary = accounts[(accounts['income'] >= 20000) & (accounts['income'] <= 50000)].shape[0]
    high_salary = accounts[accounts['income'] > 50000].shape[0]
    df = pd.DataFrame({
        'category': ['Low Salary', 'Average Salary', 'High Salary'],
        'accounts_count': [low_salary, avarage_salary, high_salary]
    })

    return df

# 20. Ads Performance

In [ ]:
import pandas as pd

def ads_performance(ads: pd.DataFrame) -> pd.DataFrame:
    # Группируем данные по ad_id и считаем количество Clicked и Clicked/Viewed действий
    ads = ads.groupby('ad_id').apply(
        lambda x:pd.Series({
            'clicked': (x['action'] == 'Clicked').sum(),
            'clicked_viewed': ((x['action'] == 'Clicked') | (x['action'] == 'Viewed')).sum()
        })
    ).reset_index()

    # Рассчитываем CTR и обрабатываем случай деления на 0

    ads['ctr'] = ads.apply(
        lambda x: round(100 * x['clicked'] / x['clicked_viewed'], 2) if x['clicked_viewed'] >0 else 0, axis=1)

    ads = ads[['ad_id', 'ctr']].sort_values(by=['ctr', 'ad_id'], ascending=[False, True])

    return ads

# 21. Find Total Time Spent by Each Employee

In [ ]:
import pandas as pd

def total_time(employees: pd.DataFrame) -> pd.DataFrame:
    employees = employees.groupby(['event_day', 'emp_id']).agg()

# 22. Game Play Analysis I

In [ ]:
import pandas as pd

def game_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    df = activity.groupby('player_id', as_index=False)[['event_date']].min()
    df.rename(columns={'event_date': 'first_login'}, inplace=True)
    return df

# 23. Number of Unique Subjects Taught by Each Teacher

In [ ]:
import pandas as pd

def count_unique_subjects(teacher: pd.DataFrame) -> pd.DataFrame:
    result = teacher.groupby('teacher_id').agg(
        cnt=('subject_id', 'nunique')
    ).reset_index()
    return result

# 24. Classes More Than 5 Students

In [ ]:
import pandas as pd

def find_classes(courses: pd.DataFrame) -> pd.DataFrame:
    classes =  courses.groupby('class').agg(count=('student', 'count')).reset_index()
    return classes[classes['count'] >= 5][['class']]

# 25. Customer Placing the Largest Number of Orders

In [ ]:
import pandas as pd

def largest_orders(orders: pd.DataFrame) -> pd.DataFrame:
    orders_count = (
        orders.groupby('customer_number').
        agg(amount=('customer_number', 'count')).reset_index()
    )
    amount_max = orders_count['amount'].max()
    result = orders_count[orders_count['amount'] == amount_max][['customer_number']]
    return result

# 26. Group Sold Products By The Date

In [ ]:
import pandas as pd

def categorize_products(activities: pd.DataFrame) -> pd.DataFrame:
    result = activities.groupby('sell_date').agg(
        num_sold=('product', lambda x: len(set(x))),
        products=('product', lambda x: ','.join(sorted(set(x))))
    ).reset_index()
    result = result.sort_values(by='sell_date')

    return result

# 27. Daily Leads and Partners

In [ ]:
import pandas as pd

def daily_leads_and_partners(daily_sales: pd.DataFrame) -> pd.DataFrame:
    result = daily_sales.groupby(['date_id', 'make_name']).agg(
        unique_leads=('lead_id', lambda x: len(set(x))),
        unique_partners=('partner_id', lambda x: len(set(x)))
    ).reset_index()

    return result

# 28. Actors and Directors Who Cooperated At Least Three Times

In [ ]:
import pandas as pd

def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    result = actor_director.groupby(['actor_id', 'director_id']).agg(
        count=('timestamp', 'count')
    ).reset_index()
    result = result[result['count'] >= 3][['actor_id', 'director_id']]

    return result[['actor_id', 'director_id']]

# 29. Replace Employee ID With The Unique Identifier

In [ ]:
import pandas as pd

def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    result = pd.merge(
        employees,
        employee_uni,
        left_on = 'id',
        right_on = 'id',
        how = 'left'
    )
    return result[['unique_id', 'name']]

# 30. Students and Examinations

In [ ]:
import pandas as pd

def students_and_examinations(students: pd.DataFrame, subjects: pd.DataFrame, examinations: pd.DataFrame) -> pd.DataFrame:
    cross = students.merge(subjects, how='cross')
    exams_count = examinations.groupby(['student_id', 'subject_name']).size().reset_index(name='attended_exams')
    result = pd.merge(
        cross,
        exams_count,
        on = ['student_id', 'subject_name'],
        how = 'left'
    )
    result[['attended_exams']] = result[['attended_exams']].fillna(0)
    result = result.sort_values(by=['student_id', 'subject_name'])
    return result

# 31. Managers with at Least 5 Direct Reports

In [ ]:
import pandas as pd

def find_managers(employee: pd.DataFrame) -> pd.DataFrame:
    managers = employee.groupby('managerId').size().reset_index(name='count')
    managers = managers[managers['count'] >= 5]
    result = managers.merge(
        employee,
        left_on = 'managerId',
        right_on = 'id',
        how = 'inner'
    )[['name']]

    return result

# 32. Sales Person

In [ ]:
import pandas as pd

def sales_person(sales_person: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    filtred = company.loc[company['name'] == 'RED', 'com_id']
    if filtred.empty:
        result = sales_person[['name']]
    else:
        red_company_id = company.loc[company['name'] == 'RED', 'com_id'].iloc[0]
        red_sales_id = orders.loc[orders['com_id'] == red_company_id, 'sales_id'].unique()
        result = sales_person.loc[~sales_person['sales_id'].isin(red_sales_id), ['name']]

    return result

# 33. Repetitions

In [ ]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    return world[(world['area'] >= 3_000_000) | (world['population'] >= 25_000_000)][['name', 'population', 'area']]

In [ ]:
import pandas as pd

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    products =  products.query("low_fats == 'Y' and recyclable == 'Y'")[['product_id']]
    return products

In [ ]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    customers = customers[~customers['id'].isin(orders['customerId'])][['name']]
    return customers.rename(columns={'name': 'Customers'})

In [ ]:
import pandas as pd

def article_views(views: pd.DataFrame) -> pd.DataFrame:
    result = views[views['author_id'] == views['viewer_id']][['author_id']]
    result = result.rename(columns={'author_id': 'id'}).drop_duplicates(subset='id')
    return result.sort_values(by='id')

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets['content'].str.len() > 15][['tweet_id']]

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    condition = (employees['employee_id'] % 2 == 1) & (~employees['name'].str.startswith('M'))
    employees[['bonus']] = employees[['salary']].where(condition, 0)

    return employees[['employee_id', 'bonus']].sort_values(by='employee_id')

In [ ]:
import pandas as pd

def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()
    return users.sort_values(by='user_id')